nav{
    display: flex;
    justify-content: space-around;
    height: 12vh;
    align-items: center;
    font-size: 20px;
    background: rgba(225, 133, 213, 0.61);
    width: 85%;
    margin: 11px auto;
    border-radius: 0 20px;
}
nav li{
    list-style-type: none;
}