*{
    padding:0;
    margin: 0;
    font-family: 'Nixie One', cursive;
}
body{
    background: linear-gradient(106deg, #04dda5, #e185d5, #dbe185, #85d4e1);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}
.App{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 35%}
    50%{background-position:100% 66%}
    100%{background-position:0% 35%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 35%}
    50%{background-position:100% 66%}
    100%{background-position:0% 35%}
}
@keyframes AnimationName {
    0%{background-position:0% 35%}
    50%{background-position:100% 66%}
    100%{background-position:0% 35%}
}
section{
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    height: fit-content;
    width: 85%;
    margin: auto;
    padding-bottom: 2em;
}
.text-place{
    width: 50%;
    height: 60%;
}
.mark{
    width: 45%;
    background: rgba(255, 255, 255, 0.44);
    padding: 4px 1.4em;
    height: fit-content;
    margin-left: 20px;

}
