footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    list-style-type: none;
    background: #85d4e1;
    height: 40px;
    font-style: italic;
}
footer div{
    margin: auto;
    width: 80%;
    text-align: right;
}
footer li{
    padding-right: 1em;
}
@media (max-width: 700px) {

    footer{
        width: 100vw;
        position: absolute;
        bottom:0;
    }
}