footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    list-style-type: none;
    background: #85d4e1;
    height: 40px;
    font-style: italic;
}
footer li{
    padding-right: 1em;
}